{
  "log_level": "info",
  "data_dir": "/var/nomad",
  "bind_addr": "{{ node_ip }}",
  "consul": {
    "address": "{{ node_ip }}:8500"
  },
{% if server_ip == node_ip %}
  "server": {
    "enabled": true,
    "bootstrap_expect": 1
  }
{% else %}
  "client": {
    "enabled": true,
    "network_interface": "enp0s8",
    "servers": ["{{ server_ip }}"],
    "options": {
      "driver.raw_exec.enable": "1",
      "docker.cleanup.image": "false"
    }
  }
{% endif %}
}
